<template>
    <div :data-key="keyboardBtn.dataKey" class="key">
        <kbd>{{keyboardBtn.button}}</kbd>
        <span class="sound">{{keyboardBtn.buttonText}}</span>
    </div>
</template>

<script>
    export default {
        props: ['keyboardBtn'],
        mounted: function() {
            this.$el.addEventListener('transitionend', function(event) {
                if(event.propertyName != 'transform') return;
                this.classList.remove('playing');
            });
        }
    }
</script>

<style>

</style>
