<template>
    <div class="keys">
        <app-drum v-for="keyboardBtn in keyboardBtns" :keyboardBtn="keyboardBtn" :key="keyboardBtn.key">
        </app-drum>

        <audio data-key="65" src="src/assets/sounds/clap.wav"></audio>
        <audio data-key="83" src="src/assets/sounds/hihat.wav"></audio>
        <audio data-key="68" src="src/assets/sounds/kick.wav"></audio>
        <audio data-key="70" src="src/assets/sounds/openhat.wav"></audio>
        <audio data-key="71" src="src/assets/sounds/boom.wav"></audio>
        <audio data-key="72" src="src/assets/sounds/ride.wav"></audio>
        <audio data-key="74" src="src/assets/sounds/snare.wav"></audio>
        <audio data-key="75" src="src/assets/sounds/tom.wav"></audio>
        <audio data-key="76" src="src/assets/sounds/tink.wav"></audio>
    </div>
</template>

<script>
    import Drum from './Drum.vue';

    export default {
        components: {
            'app-drum': Drum
        },
        data: function() {
            return {
                keyboardBtns: [
                    {button: 'A', buttonText: 'clap', dataKey: 65},
                    {button: 'S', buttonText: 'hihat', dataKey: 83},
                    {button: 'D', buttonText: 'kick', dataKey: 68},
                    {button: 'F', buttonText: 'openhat', dataKey: 70},
                    {button: 'G', buttonText: 'boom', dataKey: 71},
                    {button: 'H', buttonText: 'ride', dataKey: 72},
                    {button: 'J', buttonText: 'snare', dataKey: 74},
                    {button: 'K', buttonText: 'tom', dataKey: 75},
                    {button: 'L', buttonText: 'tink', dataKey: 76},
                ]
            }
        },
        created: function() {
            window.addEventListener('keydown', function(event) {
                const key = document.querySelector(`div[data-key="${event.keyCode}"]`);
                const audio = document.querySelector(`audio[data-key="${event.keyCode}"]`);

                if(audio == null) return;
                
                audio.currentTime = 0;
                audio.play();

                key.classList.add('playing');
            });
        }
    }



</script>

<style>

</style>
