<template>
    <div id="app">
        <app-drums-container></app-drums-container>
    </div>
</template>

<script>
    import DrumsContainer from './components/DrumsContainer.vue';
    import Drum from './components/Drum.vue';

    export default {
        components: {
            'app-drums-container': DrumsContainer
        }
    }
</script>

<style>

</style>
